body{
    font-family: 'Open Sans', sans-serif;
    background:#3498db;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }
  
  p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-size:1.5em;
    color:#525252;
  }
  
  .box{
    background:white;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
  }

  label{
    float: left;
    font-size: 14px;
    margin-left: 17px;
    margin-top: 12px;
    text-align: left;


  }

 
  
  .username{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
    color:"#AAAAAA";
  }
  
  .btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btn:hover{
    background:#2CC06B; 
  }
  
  #btn2{
    float:left;
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  #btn2:hover{ 
  background:#3594D2; 
  }

  








    
  .usernameSignUp{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .FirstnameSignUp{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .LastnameSignUp{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .passwordSignUp{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }

  .passwordSignUpConfFieldlabel{
   margin-top: 0px; 
   float: left;
   font-size: 11px;
   margin-left: 17px;
   font-style: italic;
  }

  .confirmPasswordSignUp{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btnSignUp{
    background:#cc382e;
    width:75px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #cc382e 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btnSignUp:hover{
    background:#cc382e; 
  }
  
  #btn2SignUp{
    float:left;
    background:#2CC06B;
    width:175px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2CC06B 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  #btn2SignUp:hover{ 
  background:#2CC06B; 
  }

  






  .boxHome{
    background:white;
    width:750px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
  }
  .choice{
      text-align: left;
      margin-left: 14px;
  }

  .btnHome{
    background:#cc382e;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #cc382e 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 300px;
   float: left;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btnHome:hover{
    background:#cc382e; 
  }
  
 









    
  .usernameUpdate{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .FirstnameUpdate{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .LastnameUpdate{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:2px;
    font-size:1em;
    border-radius:4px;
  }

  .passwordUpdate{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }

  .passwordUpdateNewFieldlabel{
   margin-top: 0px; 
   float: left;
   font-size: 11px;
   margin-left: 17px;
   font-style: italic;
  }

  .NewPasswordUpdate{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:250px;
    font-size:1em;
  }
  
  .btnUpdate{
    background:#cc382e;
    width:75px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #cc382e 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btnUpdate:hover{
    background:#cc382e; 
  }
  
  #btn2Update{
    float:left;
    background:#2CC06B;
    width:175px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2CC06B 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  #btn2Update:hover{ 
  background:#2CC06B; 
  }








  .boxDelete{
    background:white;
    width:450px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
  }

  .btnDelete{
    background:#cc382e;
    width:75px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #cc382e 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:90px;
    font-weight:800;
    font-size:0.8em;
  }
  
  .btnDelete:hover{
    background:#cc382e; 
  }
  
  #btn2Delete{
    float:left;
    background:#2CC06B;
    width:175px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2CC06B 1px solid;
    
    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
  }
  
  #btn2Delete:hover{ 
  background:#2CC06B; 
  }